
.header {
    background-image: url(back.png);
    background-position: center top;
    background-size: cover;
    padding: 30px;

}
.body{
  margin: 2px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(24, 20, 20);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-about{
  font-size: 15px;
}
.navbar-menu{
  display: flex;
  flex-direction: row;
  background-color: black;
}
.nav-menu:hover{
  color: lime;
  transform: scale(1.2);
}

.left-column { 
    padding-top:20px; ;  
    float: left;
    width: 75%;
}
  
.right-column {
    float: left;
    background-color: #f1f1f1;
    padding-left: 20px;
}
  
.card {
    background-color: white;
    line-height: 2rem;
    border: solid;
    border-style: dashed;
    border-color:  #f2f2f2;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 10px;
    padding: 10px;
}
.card h2{
  color: #333;
}
.muskan-img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transition: .2s;
}
.muskan-img:hover{
  transform: scale(1.2);
}
.muskan-div{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}
.list{
  display: flex;
  flex-direction: column;
}
.li{
  flex: 1;
  padding-top: 3px;
}
.navBar{
  flex: 1;
}
.row{
  flex: 1;
}
  .list div{
    flex: 1;
  
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .muskan-name{
    color: "green";

  }
  .right-column{
    display: flex;
    flex-direction: column;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .social-icon{
    display: flex;
    justify-content: space-around;
  }
  .fab{
    transition: .3s;
  }
  .fab:hover{
    transform: scale(2.0);
  }

  .footer {
    background-image: url(back.png);
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  @media screen and (min-width: 600px){
    .row{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  }
 
  @media screen and (max-width: 600px) {
    .row{
      flex-direction: row;
    }
    .left-column, .right-column {   
      width: 100%;
      padding: 0;
    }
  }
  
 @media screen and (max-width: 400px) {
    .top-nav a {
      float: none;
      width: 100%;
    }
  }